<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Create a ninja</h1>
    <form action="/dojos/create_ninja" method="POST">
        <!-- pass along the foreign key in the form -->
        <select name="dojo_id">
            {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">
        <label for="age">Age: </label>
        <input type="text" name="age">
        <input type="submit" value="Create ninja">
        <a href="/dojos">Home</a>
    </form>
    
</body>
</html>